.wrapper {
  border-radius: 10px;
  margin-right: 30px;
  background-color: #20293a;
  padding: 10px 10px 0 10px;
  height: 100px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
