.wrapper {
  width: 500px;
  background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
  border-radius: 10px;
  padding: 20px;
  color: #97a3b6;
  font-weight: 500;
  min-height: 100px;
}
li {
  list-style-type: none;
}
.name {
  text-decoration: none;
  color: white;
}
.description {
  margin-top: 10px;
}
.footer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.updated {
  margin-left: 30px;
  font-size: 12px;
}
