:global(#root) {
  margin: 0;
  padding: 0;
  width: 100%;
}
.section {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  width: 100%;
  min-height: 240px;
  background-image: url("/src/assets/hero-image-github-profile.jpg");
  background-position: center;
  background-size: cover;
}
